In [2]:
import pandas as pd

In [3]:
# read in the most_recent file
most_recent = pd.read_csv('most_recent.csv')

In [4]:
# eliminate all rows after the 200th row
most_recent = most_recent.iloc[:200]
most_recent.head()

,Title,Year,Inflation_Rank,Adj. Domestic Lifetime Gross,Est. Num Tickets,Worldwide Rank,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Production Budget
0,Gone With The Wind,1939.0,1.0,"$1,895,421,694","202,286,200",318.0,"$402,352,579","$200,882,193",50.0,"$201,500,000",50.0,"$3,900,000"
1,Star Wars Episode Iv A New Hope,1977.0,2.0,"$1,668,979,715","178,119,500",102.0,"$775,398,007","$460,998,507",59.0,"$314,399,500",41.0,"$11,000,000"
2,The Sound Of Music,1965.0,3.0,"$1,335,086,324","142,485,200",NaN,NaN,"$159,287,539",NaN,NaN,NaN,"$8,200,000"
3,ET The ExtraTerrestrial,1982.0,4.0,"$1,329,174,791","141,854,300",NaN,NaN,"$437,141,279",NaN,NaN,NaN,"$10,500,000"
4,Titanic,1997.0,5.0,"$1,270,101,626","135,549,800",3.0,"$2,201,647,264","$674,292,608",30.0,"$1,542,283,320",70.0,"$200,000,000"

In [5]:
# make an updated csv file
most_recent.to_csv('most_recent.csv', index=False)

In [6]:
# drop the last 101 rows
most_recent = most_recent.drop(most_recent.index[100:])
most_recent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Title                         100 non-null    object
 1   Year                          100 non-null    float64
 2   Inflation_Rank                100 non-null    float64
 3   Adj. Domestic Lifetime Gross  100 non-null    object
 4   Est. Num Tickets              100 non-null    object
 5   Worldwide Rank                58 non-null     float64
 6   Worldwide Lifetime Gross      58 non-null     object
 7   Domestic Lifetime Gross       100 non-null    object
 8   Domestic %                    58 non-null     float64
 9   Foreign Lifetime Gross        58 non-null     object
 10  Foreign %                     58 non-null     float64
 11  Production Budget             100 non-null    object
dtypes: float64(5), object(7)
memory usage: 9.5+ KB

In [ ]:
# update the csv file
most_recent.to_csv('most_recent.csv', index=False)