In [1]:
import pandas as pd

In [2]:
# read in the most_recent file
most_recent = pd.read_csv('most_recent.csv')

In [3]:
# eliminate all rows after the 200th row
most_recent = most_recent.iloc[:200]
most_recent.head()

,Title,Year,Inflation_Rank,Adj. Domestic Lifetime Gross,Est. Num Tickets,Worldwide Rank,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Production Budget
0,Gone With The Wind,1939.0,1.0,"$1,895,421,694","202,286,200",318.0,"$402,352,579","$200,882,193",50.0,"$201,500,000",50.0,"$3,900,000"
1,Star Wars Episode Iv A New Hope,1977.0,2.0,"$1,668,979,715","178,119,500",102.0,"$775,398,007","$460,998,507",59.0,"$314,399,500",41.0,"$11,000,000"
2,The Sound Of Music,1965.0,3.0,"$1,335,086,324","142,485,200",NaN,NaN,"$159,287,539",NaN,NaN,NaN,"$8,200,000"
3,ET The ExtraTerrestrial,1982.0,4.0,"$1,329,174,791","141,854,300",NaN,NaN,"$437,141,279",NaN,NaN,NaN,"$10,500,000"
4,Titanic,1997.0,5.0,"$1,270,101,626","135,549,800",3.0,"$2,201,647,264","$674,292,608",30.0,"$1,542,283,320",70.0,"$200,000,000"

In [4]:
# make an updated csv file
most_recent.to_csv('most_recent.csv', index=False)

In [5]:
# drop the last 101 rows
most_recent = most_recent.drop(most_recent.index[100:])

In [6]:
# update the csv file
most_recent.to_csv('most_recent.csv', index=False)

In [13]:
# change the inflation rank to an integer
most_recent['Inflation_Rank'] = most_recent['Inflation_Rank'].astype(int)

,Title,Year,Inflation_Rank,Adj. Domestic Lifetime Gross,Est. Num Tickets,Worldwide Rank,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Production Budget
0,Gone With The Wind,1939.0,1,"$1,895,421,694","202,286,200",318.0,"$402,352,579","$200,882,193",50.0,"$201,500,000",50.0,"$3,900,000"
1,Star Wars Episode Iv A New Hope,1977.0,2,"$1,668,979,715","178,119,500",102.0,"$775,398,007","$460,998,507",59.0,"$314,399,500",41.0,"$11,000,000"
2,The Sound Of Music,1965.0,3,"$1,335,086,324","142,485,200",NaN,NaN,"$159,287,539",NaN,NaN,NaN,"$8,200,000"
3,ET The ExtraTerrestrial,1982.0,4,"$1,329,174,791","141,854,300",NaN,NaN,"$437,141,279",NaN,NaN,NaN,"$10,500,000"
4,Titanic,1997.0,5,"$1,270,101,626","135,549,800",3.0,"$2,201,647,264","$674,292,608",30.0,"$1,542,283,320",70.0,"$200,000,000"

In [14]:
# fill in all blank cells with 0
most_recent = most_recent.fillna(0)

,Title,Year,Inflation_Rank,Adj. Domestic Lifetime Gross,Est. Num Tickets,Worldwide Rank,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Production Budget
0,Gone With The Wind,1939.0,1,"$1,895,421,694","202,286,200",318.0,"$402,352,579","$200,882,193",50.0,"$201,500,000",50.0,"$3,900,000"
1,Star Wars Episode Iv A New Hope,1977.0,2,"$1,668,979,715","178,119,500",102.0,"$775,398,007","$460,998,507",59.0,"$314,399,500",41.0,"$11,000,000"
2,The Sound Of Music,1965.0,3,"$1,335,086,324","142,485,200",0.0,0,"$159,287,539",0.0,0,0.0,"$8,200,000"
3,ET The ExtraTerrestrial,1982.0,4,"$1,329,174,791","141,854,300",0.0,0,"$437,141,279",0.0,0,0.0,"$10,500,000"
4,Titanic,1997.0,5,"$1,270,101,626","135,549,800",3.0,"$2,201,647,264","$674,292,608",30.0,"$1,542,283,320",70.0,"$200,000,000"

In [16]:
# change all the worldwide rank, Domestic % and Foreign % to integers
most_recent['Worldwide Rank'] = most_recent['Worldwide Rank'].astype(int)
most_recent['Domestic %'] = most_recent['Domestic %'].astype(int)
most_recent['Foreign %'] = most_recent['Foreign %'].astype(int)
most_recent.head()

,Title,Year,Inflation_Rank,Adj. Domestic Lifetime Gross,Est. Num Tickets,Worldwide Rank,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Production Budget
0,Gone With The Wind,1939.0,1,"$1,895,421,694","202,286,200",318,"$402,352,579","$200,882,193",50,"$201,500,000",50,"$3,900,000"
1,Star Wars Episode Iv A New Hope,1977.0,2,"$1,668,979,715","178,119,500",102,"$775,398,007","$460,998,507",59,"$314,399,500",41,"$11,000,000"
2,The Sound Of Music,1965.0,3,"$1,335,086,324","142,485,200",0,0,"$159,287,539",0,0,0,"$8,200,000"
3,ET The ExtraTerrestrial,1982.0,4,"$1,329,174,791","141,854,300",0,0,"$437,141,279",0,0,0,"$10,500,000"
4,Titanic,1997.0,5,"$1,270,101,626","135,549,800",3,"$2,201,647,264","$674,292,608",30,"$1,542,283,320",70,"$200,000,000"

In [17]:
# turn all 0 values to blank cells
most_recent = most_recent.replace(0, '')
most_recent.head()

,Title,Year,Inflation_Rank,Adj. Domestic Lifetime Gross,Est. Num Tickets,Worldwide Rank,Worldwide Lifetime Gross,Domestic Lifetime Gross,Domestic %,Foreign Lifetime Gross,Foreign %,Production Budget
0,Gone With The Wind,1939.0,1,"$1,895,421,694","202,286,200",318,"$402,352,579","$200,882,193",50,"$201,500,000",50,"$3,900,000"
1,Star Wars Episode Iv A New Hope,1977.0,2,"$1,668,979,715","178,119,500",102,"$775,398,007","$460,998,507",59,"$314,399,500",41,"$11,000,000"
2,The Sound Of Music,1965.0,3,"$1,335,086,324","142,485,200",,,"$159,287,539",,,,"$8,200,000"
3,ET The ExtraTerrestrial,1982.0,4,"$1,329,174,791","141,854,300",,,"$437,141,279",,,,"$10,500,000"
4,Titanic,1997.0,5,"$1,270,101,626","135,549,800",3,"$2,201,647,264","$674,292,608",30,"$1,542,283,320",70,"$200,000,000"

In [18]:
# update the csv file
most_recent.to_csv('most_recent.csv', index=False)